.p-5 {
	background-color: #0f6e3f;
	margin-top: 200px;
    margin-right: 230px;
    margin-left: 230px;
}

.container{

    margin-left: 0px;
    margin-right: 0px;

}

.nav-pills{
	background-color: #0f6e3f;
    text-transform: uppercase;
}


a {
    color: #fff;
    font-family: 'Montserrat',sans-serif;
    font-weight: 700;
}

a:hover {
    color: #fff;
}

body {
    font-family: 'Montserrat',sans-serif;
    -webkit-text-size-adjust: none;
    -webkit-font-smoothing: antialiased;
    background-image: url(https://s2.best-wallpaper.net/wallpaper/1920x1080/1806/Fruits-and-vegetables-banana-tomato-oranges-peppers-broccoli_1920x1080.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    font-weight: 400;
}
html, body{
    height: 100%;
    margin: 0;
    padding: 0; 
}
.small {
    color: #fff;
    font-family: 'Montserrat',sans-serif;
    font-weight: 700;
    font-size: 15;
}



.h4, h4 {
        color: #fff;
    font-family: 'Montserrat',sans-serif;
    font-weight: 700;
    font-size: 28;
}

.form-control{min-width:500px;}


.img-Login{
    position: absolute;
    top: -70px;
    bottom: 0;
    left: 0;
    right: 0;
    margin:auto;
    max-height: 100%;

}
.img-div-Login{
    
    position: relative;
    display: block;
    height: 150px;

}